<div>
    <h2> Add New Car </h2>
    <div>
        <label>id:
            <input [(ngModel)]="car.id" placeholder="id" type="number" />
        </label>
        <br>
        <label>make:
            <input [(ngModel)]="car.make" placeholder="make" />
        </label>
        <br>
        <label>model:
            <input [(ngModel)]="car.model" placeholder="model" />
        </label>
        <br>
        <label>colour:
            <input [(ngModel)]="car.colour" placeholder="colour" />
        </label>
    </div>
  <button (click)="save()">Save</button>
</div>